extends layout

block content
  h1= title
  p Welcome to #{title}
  form.form-horizontal(action='/api/posts', method='post')
    .form-group
      label.col-sm-2.control-label(for='inputTitle') Title
      .col-sm-10
        input#inputTitle.form-control(type='text', placeholder='Title', name="title")
    .form-group
      label.col-sm-2.control-label(for='inputBody') Body
      .col-sm-10
        input#inputBody.form-control.textBody(type='text', name="body")
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-default(type='submit') Submit Post
  .displayDiscs Mongo Discing!!
    ul
      for disc in discs
        li(data-id=disc.id)
          strong= disc.title
          p= disc.body
          button.editDisc.btn.btn-default Edit Disc

  #edit-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span &times;
            h4.modal-title Edit this Disc
          form#edit-form(action="/api/post", method="put")
            input.disc-id(type="hidden")
            .modal-body
              .form-group
                input.disc-name.form-control(type="text", placeholder="disc name", name="title")
              .form-group
                input.disc-abv.form-control(type="text", name="body")
            .modal-footer
              input.btn.btn-primary(type="submit", value="Save Changes")

